@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color1: #004369;
  --color2: #01949a;
  --color3: #e5ddc8;
  --color4: #db1f48;
  --myFont: "Figtree", sans-serif;
  --border-radius: 16px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2db1f48' fill-opacity='0.34'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: var(--myFont);
}

.add-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 24px;
  background-color: rgba(0 0 0 / 0.16);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 300px;
  margin: 24px auto 12px;
  user-select: none;
}

h1 {
  font-size: 1.75rem;
  margin-right: 24px;
}
i {
  font-size: 1.75rem;
}

.delete-bookmark {
  margin-left: 28px;
  cursor: pointer;
}

.show-modal:hover {
  background-color: rgba(0 0 0 / 0.32);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: rgba(0 0 0 / 0.16);
  color: white;
  border-radius: var(--border-radius);
  padding: 24px;
  margin: 12px;
}

.item:hover {
  background-color: rgba(0 0 0 / 0.32);
}

a {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.name img {
  height: 20px;
  width: 20px;
  margin-right: 16px;
  vertical-align: sub;
}

/* Modal */
.modal-container {
  background-color: rgba(0 0 0 / 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgba(0 0 0 / 0.24);
  box-shadow: 0 0 12px rgba(0 0 0 / 0.08);
  width: 500px;
  color: white;
  animation: modalopen 1.5s;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.close-modal {
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header {
  background-color: var(--color2);
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
}

.modal-content {
  padding: 24px;
  background-color: whitesmoke;
}

.form-group {
  margin: 16px auto;
  color: black;
  width: 100%;
}

.bookmark-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form-input {
  border: none;
  border-bottom: 2px solid #01949a;
  background: none;
  width: 300px;
}

#modal-button {
  background-color: var(--color2);
  color: white;
  padding: 16px 24px;
  border: none;
  border-radius: var(--border-radius);
  margin-top: 24px;
  font-size: 1.25rem;
  font-weight: bold;
}
/* Media query */
@media screen and (max-width: 600px) {
  .add-modal {
    width: 90%;
    padding: 16px 0;
    margin: 0 0;
  }

  h1 {
    font-size: 1.55rem;
    margin: 0;
    margin: 0 24px 0 0;
  }

  .container {
    width: 90%;
    margin: 0;
  }
  .item {
    width: 100%;
    margin: 8px 0;
    padding: 16px 0;
  }

  .name {
    margin: 0 24px;
    justify-content: space-between;
  }
}
